# AMAZON PRIME VIDEO CONTENT ANALYSIS

# Project Summary

This project performs an in-depth exploratory data analysis (EDA) on Amazon Prime Video’s content available in the United States.
The analysis uses two datasets: one containing detailed information about titles (movies and TV shows) such as genres, release year, runtime, IMDb scores, and popularity metrics, and another containing credits information for actors and directors.

The project begins by understanding and cleaning the datasets — handling missing values, duplicates, and ensuring that the data is ready for analysis. Then, the analysis explores multiple aspects of the content library:

**Content Diversity:** *Understanding which genres dominate the platform, and analyzing patterns in show types (TV shows vs movies).*

**Trends Over Time:** *Examining how the number of titles and their genres have evolved over the years.*

**Ratings & Popularity:** *Identifying top-rated and most popular titles based on IMDb scores, votes, and TMDB popularity.*

**Cast & Crew Analysis:** *Investigating contributions from actors and directors, and identifying recurring patterns.*

The project uses Pandas and NumPy for data manipulation, Matplotlib and Seaborn for visualizations, and optionally Plotly for interactive charts.

By the end of this analysis, the notebook provides actionable insights into content trends, audience preferences, and key metrics that can guide stakeholders in making data-driven decisions for content strategy and platform growth.

# PROBLEM STATEMENT

*This project analyzes all shows available on Amazon Prime Video in the United States.*

*The goal is to extract insights about content diversity, genre trends, regional availability, IMDb ratings, and popularity.*

*These insights will help content creators, analysts, and platform stakeholders make data-driven decisions to improve engagement and guide content strategy*.

# BUSINESS CONTEXT

*In the competitive streaming industry, platforms like Amazon Prime Video constantly expand their content library to cater to diverse audiences.*

*With thousands of titles available, understanding user preferences, popular genres, and trending content over time is critical for subscription growth and investment in content.*

*This analysis leverages Amazon Prime’s dataset to uncover patterns that influence strategic decisions and audience satisfaction.*

# LET'S BEGIN

## Importing Libraries and Setting up Notebook

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

%matplotlib inline
#Ensures plots display in the notebook
sns.set(style="whitegrid")  # Sets a clean grid style for Seaborn plots
import warnings
warnings.filterwarnings('ignore')  # Hides unnecessary warnings

## Loading the Dataset

In [5]:
# Load titles dataset
titles = pd.read_csv('/content/titles.csv')

# Load credits dataset
credits = pd.read_csv('/content/credits.csv')

In [6]:
credits.head()

   person_id       id           name      character   role
0      59401  ts20945     Joe Besser            Joe  ACTOR
1      31460  ts20945     Moe Howard            Moe  ACTOR
2      31461  ts20945     Larry Fine          Larry  ACTOR
3      21174  tm19248  Buster Keaton    Johnny Gray  ACTOR
4      28713  tm19248    Marion Mack  Annabelle Lee  ACTOR

In [7]:
titles.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts20945,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family', 'animation', 'action', 'f...",['US'],26.0,tt0850645,8.6,1092.0,15.424,7.6
1,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,78,"['action', 'drama', 'war', 'western', 'comedy'...",['US'],NaN,tt0017925,8.2,89766.0,8.647,8.0
2,tm82253,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,1946,NaN,171,"['romance', 'war', 'drama']",['US'],NaN,tt0036868,8.1,63026.0,8.435,7.8
3,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['comedy', 'drama', 'romance']",['US'],NaN,tt0032599,7.8,57835.0,11.270,7.4
4,tm56584,In a Lonely Place,MOVIE,An aspiring actress begins to suspect that her...,1950,NaN,94,"['thriller', 'drama', 'romance']",['US'],NaN,tt0042593,7.9,30924.0,8.273,7.6

## Dataset Overview

In [8]:
print("Titles dataset shape:", titles.shape)      #shape of titles dataset
print("Credits dataset shape:", credits.shape)    #shape of credits dataset

Titles dataset shape: (9871, 15)
Credits dataset shape: (124235, 5)

In [9]:
# Checking column names, data types, and non-null counts to understand dataset structure
titles.info()
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9871 entries, 0 to 9870
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    9871 non-null   object
 1   title                 9871 non-null   object
 2   type                  9871 non-null   object
 3   description           9752 non-null   object
 4   release_year          9871 non-null   int64
 5   age_certification     3384 non-null   object
 6   runtime               9871 non-null   int64
 7   genres                9871 non-null   object
 8   production_countries  9871 non-null   object
 9   seasons               1357 non-null   float64
 10  imdb_id               9204 non-null   object
 11  imdb_score            8850 non-null   float64
 12  imdb_votes            8840 non-null   float64
 13  tmdb_popularity       9324 non-null   float64
 14  tmdb_score            7789 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 1.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124235 entries, 0 to 124234
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   person_id  124235 non-null  int64
 1   id         124235 non-null  object
 2   name       124235 non-null  object
 3   character  107948 non-null  object
 4   role       124235 non-null  object
dtypes: int64(1), object(4)
memory usage: 4.7+ MB

In [10]:
# Titles dataset missing values
titles.isnull().sum()

# Credits dataset missing values
credits.isnull().sum()

person_id        0
id               0
name             0
character    16287
role             0
dtype: int64

In [11]:
# Titles dataset duplicates
titles.duplicated().sum()

# Credits dataset duplicates
credits.duplicated().sum()

np.int64(56)

In [12]:
titles.describe()  # For numeric columns like release_year, runtime, imdb_score

,release_year,runtime,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
count,9871.000000,9871.000000,1357.000000,8850.000000,8.840000e+03,9324.000000,7789.000000
mean,2001.327221,85.973052,2.791452,5.976395,8.533614e+03,6.910204,5.984247
std,25.810071,33.512466,4.148958,1.343842,4.592015e+04,30.004098,1.517986
min,1912.000000,1.000000,1.000000,1.100000,5.000000e+00,0.000011,0.800000
25%,1995.500000,65.000000,1.000000,5.100000,1.170000e+02,1.232000,5.100000
50%,2014.000000,89.000000,1.000000,6.100000,4.625000e+02,2.536000,6.000000
75%,2018.000000,102.000000,3.000000,6.900000,2.236250e+03,5.634000,6.900000
max,2022.000000,549.000000,51.000000,9.900000,1.133692e+06,1437.906000,10.000000

In [20]:
titles['type'].value_counts()  # How many Movies vs TV Shows

type
MOVIE    8514
SHOW     1357
Name: count, dtype: int64

In [19]:
titles['age_certification'].value_counts()  # Age ratings distribution

age_certification
R        1249
PG-13     588
PG        582
G         269
TV-MA     217
TV-14     188
TV-PG      91
TV-Y       78
TV-G       57
TV-Y7      52
NC-17      13
Name: count, dtype: int64